<container name="page" id="page">

<h1>User Info:</h1>
  <h4>Please copy and paste the JWT token into the postman environment variable JWT1 or JWT2 in order use the endpoints. Thank you! </h4>

<table name="tabledata" id="tabledata">
  <tbody>
    
    
    <tr><td>First Name: {{firstname}}</td></tr>
    <tr><td>Last Name: {{lastname}}</td></tr>
    <tr><td>user_id: {{user_id}}</td></tr>
    <tr><td>JWT: {{JWT}}</td></tr>

  </tbody>
    
  
</table>
  <span id="update-change" name="update-change" class ="update-change"></span>
  <p>{{results}}</p>


    
<script type="text/javascript" src="client.js"></script>
 
</container>
